{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item" style="margin-bottom:1.75rem">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Title (not bold) -->
<h3 style="font-weight:400; margin-top:0">
  {% if post.collection == 'publications' %}
    {% if post.paperurl %}
      <span>&#9632;&nbsp; {{ title }} <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a></span>
    {% else %}
      <span>&#9632;&nbsp; {{ title }}</span>
    {% endif %}
      {% elsif post.collection == 'workinprogress' %}
        <span>{{ title }}</span>
      {% elsif post.collection == 'jobmarket' %}
        <span>{{ title }}</span>
      {% elsif post.collection == 'conference' %}
        <span>{{ title }}</span>
      {% elsif post.collection == 'talks' %}
        <span>{{ title }}</span>
      {% elsif post.collection == 'teaching' %}
        <span>{{ title }}</span>
      {% endif %}
    </h3>

    <!-- Authors -->
    {% if post.author %}
      <p style="margin:0 0 .25rem 0">{{ post.author }}</p>
    {% endif %}

    <!-- Abstract (not italic) -->
    {% if post.abstract %}
      <details>
        <summary>Abstract</summary>
        <blockquote style="font-style:normal; margin:.5rem 0 0 0">
          <p align="justify" style="margin:.25rem 0 0 0">
            {{ post.abstract }}
          </p>
        </blockquote>
      </details>
    {% endif %}

    <!-- Citation + icons -->
    <p style="margin:.5rem 0 0 0">
      {% if post.citation %}
        <cite style="font-style:italic; font-size:0.92em">{{ post.citation }}</cite>
      {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.github %}
        <a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
      {% endif %}
    </p>

  </article>
</div>
