{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3>
      {% if post.collection == 'publications' %}
        {{ title }}
      {% elsif post.collection == 'workinprogress' %}
        {{ title }}
      {% elsif post.collection == 'jobmarket' %}
        {{ title }}
	    {% elsif post.collection == 'conference' %}
        {{ title }}
	  {% elsif post.collection == 'talks' %}
        {{ title }}
      {% elsif post.collection == 'teaching' %}
        {{ title }}
      {% endif %}
    </h3>
    
	
	
   	{% if post.author %}
        <p1>{{ post.author }}  </p1>
      {% endif %}
      
      {% if post.abstract %}
        <details><summary>Abstract</summary>
        <blockquote>
        <p align="justify" >
        {{ post.abstract }}
        </p>
        </blockquote>
        </details>
      {% endif %}

      <!-- citation and icon code -->
      <p>
      {% if post.citation %}
        {{ post.citation }}
      {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.github %}
        <a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
      {% endif %}
      </p>
 
    
    
  </article>
</div>
