.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;


details > summary {
  padding: 2px 6px;
  width: 7.5em;
  background-color: #EAF2F8;
  border: none;
  cursor: pointer;
  list-style: none;
}
