<header class="site-header">
  <a >
  </a>

  <nav class="nav" aria-label="Main navigation">
    <a href="/"><span>00</span>Home</a>
    <a href="/research/"><span>01</span>Research</a>
    <a href="/teaching/"><span>02</span>Teaching</a>
    <a href="/talks/"><span>03</span>Talks</a>
<a href="/cv/cvacademic.pdf" target="_blank" rel="noreferrer">
  <span>04</span>CV
</a>
  </nav>
</header>